<html>

<head>
    <meta charset="utf-8">
    <title>数据可视化</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@1.7.2/dist/antd.min.css">
    <script src="https://cdn.jsdelivr.net/npm/ant-design-vue@1.7.2/dist/antd.min.js"></script>
    <style>
        body {
            text-align: center;
            background-color: white;
        }
    </style>

    <!-- Styles -->
    <style>
        #chartdiv {
            width: 100%;
            /* height: 80%; */
            /* height: calc(100vh - 130px); */
            height: calc(100vh - 15px);
            /* padding-top: 20%; */
            /* margin-bottom: 25px; */
            position: relative;
        }

        .slogn {
            position: fixed;
            bottom: 5px;
            right: 5px;
            font-size: 12px;
            z-index: 2000;
            color: #aaa
        }

        * {
            padding: 0;
            margin: 0;
        }
    </style>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PEPQ7KZ023"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-PEPQ7KZ023');
    </script>
</head>

<body>
    <a class="slogn" target="_blank" href="https://github.com/xiami2021/backup">github.com/xiami2021/backup</a>
    <div id="app">
        <div style="padding-top: 10%" v-show="switchBox">
           <p>可视化类型：</p>
           <p>
                <a-button style="margin-right: 15px" icon="cloud" @click="show('tag')">
                    风格标签云
                </a-button>
                <a-button icon="table" style="margin-right: 15px" @click="show('cover')">
                    专辑墙
                </a-button>
                <a-button icon="cloud" style="margin-right: 15px" @click="show('artist_tag')">
                    艺术家标签云
                </a-button>
                    <a-button icon="table" @click="show('artist_cover')">
                        艺术家墙
                    </a-button>
           </p>
        </div>
        <div v-if="!switchBox">
            <div v-if="loading">loading...</div>
            <div id="chartdiv" v-show="showTag"></div>
            <img src="qrcode.png" style="position: absolute; left: 0; bottom: 0;" height="100" />
            <!-- <div style="text-align: left; margin-top: 10px; padding: 10px 20px; background: #f4f4f4;">
                        <img src="qrcode.png" style="vertical-align: middle; margin-right: 15px;" height="100" />
                        生成虾米音乐收藏歌曲Tag云
                    </div> -->
            <div v-if="allAlbumsItems.length">
                <img v-lazy="item.cover" v-for="item in allAlbumsItems" height="80" width="80" />
            </div>
        </div>
       
    </div>
    <script>
          Vue.use(VueLazyload);
        var app = new Vue({
            el: '#app',
            data: {
                switchBox: true,
                showTag: false,
                loading: true,
                songs: null,
                type: 'tag',
                topStyles: [],
                allAlbumsItems: []
            },
            mounted() {
                // var data = 'http://localhost:8765/downloader/analytics?all=1'
            },
            methods: {
                show(type) {
                    this.switchBox = false;
                    this.loadData(type);
                },
                draw() {
                    var self = this;
                    // this.$refs.main.width = window.innerWidth
                    // this.$refs.main.height = window.innerHeight
                    am4core.ready(function () {
                        am4core.useTheme(am4themes_animated);
                        // Themes end
                        var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
                        var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
                        series.accuracy = 4;
                        series.step = 30;
                        series.rotationThreshold = 0.4;
                        series.maxCount = 400;
                        series.minWordLength = 2;
                        series.labels.template.tooltipText = "{word}: {value}";
                        series.fontFamily = "Courier New";
                        series.maxFontSize = am4core.percent(22);
                        series.data = self.topStyles.map(_ => {
                            return {
                                // tag: _.name,
                                tag: _.name_cn,
                                weight: _.count
                            }
                        });
                        series.dataFields.word = "tag";
                        series.dataFields.value = "weight";
                        series.colors = new am4core.ColorSet();
                        console.log('series', series)
                    }); // end am4core.ready()
                    // WordCloud(document.getElementById('my_canvas'), {
                    //     gridSize: Math.round(16 * window.innerWidth / 1024),
                    //     weightFactor: function (size) {
                    //         return Math.pow(size, 2.3) * window.innerWidth / 1024;
                    //     },
                    //     fontFamily: 'Times, serif',
                    //     color: function (word, weight) {
                    //         return (weight === 12) ? '#f02222' : '#c09292';
                    //     },
                    //     rotateRatio: 0.5,
                    //     rotationSteps: 2,
                    //     backgroundColor: '#ffe0e0',
                    //     list: this.topStyles.map(_ => {
                    //         return [_.name, _.count]
                    //     })
                    // });
                    // chart.marginBottom = 10
                },
                async loadData(type) {
                    const { data } = await axios.get('http://localhost:8765/downloader/analytics?all=1')
                    if (data.length === 0) {
                        alert('请备份虾米数据后，【备份所有收藏歌曲】后再打开本页面， 数据是基于已完成的歌曲标签来的！')
                        return
                    }
                    this.songs = data.filter(_ => _.raw).map(_ => {
                        return JSON.parse(_.raw)
                    })
                    var byStyles = {};
                    const topStyles = {};
                    const styleMeta = {};
                    const allAlbums  = {};

                    console.log('data sample', this.songs[0])
                    var logoKey = type === 'cover' ? 'albumLogo' : 'artistLogo';
                    var tagKey = type === 'tag' ? 'styleName' : 'artistName';
                    var isStyle = type === 'tag';

                    for (let index = 0; index < this.songs.length; index++) {
                        const rawData = this.songs[index];
                        if (!rawData.styles) continue;
                        allAlbums[rawData[logoKey]] = allAlbums[rawData[logoKey]] || 0;
                        allAlbums[rawData[logoKey]]++;

                        if(isStyle) {
                            rawData.styles.forEach((_) => {
                                styleMeta[_.styleName] = _;
                                topStyles[_.styleName] = topStyles[_.styleName] || 0;
                                topStyles[_.styleName]++;
                            });
                        } else {
                            topStyles[rawData[tagKey]] = topStyles[rawData[tagKey]] || 0;
                            topStyles[rawData[tagKey]]++;
                        }
                    }
                    function getTop() {
                        return Object.keys(topStyles).sort(function (a, b) {
                            return topStyles[b] - topStyles[a]
                        }).map(_ => {

                            if(isStyle) {
                                var pairs = _.split(" ");
                                var cnName = pairs.shift();
                                return {
                                    rawName: _,
                                    name: pairs.join(" "),
                                    name_cn: cnName,
                                    meta: styleMeta[_],
                                    count: topStyles[_]
                                }
                            } else {
                                  var pairs = _.split(" ");
                                var cnName = pairs.shift();
                                return {
                                    name_cn: _,
                                    count: topStyles[_]
                                }
                            }
                        })
                    }
                    var topStylesRaw = getTop();
                    console.log('topStylesRaw', topStylesRaw)
                    if (!isStyle) {
                        topStylesRaw = topStylesRaw.slice(0, 200)
                    }

                    this.topStyles = topStylesRaw;
                  
                    // let params = (new URL(document.location)).searchParams;
                    // let type = params.get("type") || 'tag';
                    if(type.indexOf('tag') > -1) {
                        this.showTag = true;
                        this.draw();
                    }

                    if(type == 'cover' || type == 'artist_cover') {
                          var allAlbumsItems = Object.keys(allAlbums).sort(function (a, b) {
                            return allAlbums[b] - allAlbums[a]
                        }).map(_ => {
                            return {
                                cover: _,
                                count: allAlbums[_]
                            }
                        })
                        this.allAlbumsItems = allAlbumsItems
                        console.log('allAlbumsItems', allAlbumsItems)
                    }
                    this.loading = false;
                }
            },
        })


    </script>
</body>

</html>
